<footer>
    <div>
        Content from <a href="https://itsmorefuninthephilippines.co.uk/">It's More Fun In The Philippines UK</a>
    </div>
    <div>
        Redesigned by: Kathleen Domingo
    </div>
</footer>