<nav id="nav-main">
    <div id="logo">
        <a href="/"><img src="/images/LOGO-01.png"></a>
    </div>
    <div class="nav-right">
        <a href="/">Home</a></li>
        <a href="/about">About</a></li>
        <a href="/gallery">Gallery</a></li>
    </div>
</nav>