<html class="about-page">
<div class="about-container">
    <h1>Why are the islands so amazing?</h1>

    <p class="about-text">
        <h4>There are thousands of reasons to visit the Philippines.</h4><br>

        It may be famous for its powder white sands, turquoise waters and stunning coral reefs,<br>
        but there’s so much more to discover on the 7,107 islands in this magical corner of the world.<br><br>

        Look past the outstanding diving or dream beaches and you’ll find a land of unique culture and contradictions.<br>
        You’ll discover lush green rice fields, lively and fashionable cities, simmering volcanoes, amazing underground
        rivers and caves, the most wonderful wildlife and most importantly-friendly and fun-loving people.<br><br>

        Whether you’re looking for water sports or a slice of culture-or just fancy lazing on beautiful beaches-the
        Philippines truly has something for every traveller.
    </p>
</div>

</html>