<html class="home-page">
<div class="home-container">
    <h1 class="title">It's More Fun In The Philippines</h1>
    <div class="video-wrapper">
        <iframe width="560" height="315" src="/images/It’s More Fun in the Philippines 2019.mp4" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>

</html>